@import "tailwindcss";
@plugin "daisyui";

:root {
  --grey: #757778;
  --black: black;
  --pink: #FECDF2;
  --purple: #CBB9EF;
  --background-color: #F4F1E9;
}

body {
  margin: 0;
    background-color: var(--background-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}